<h1>Listado de Articulos con sus respectivos comentarios</h1>
<table border="1">
<tr>
    <th>ID del articulo</th>
    <th>Titulo del articulo</th>
    <th>ID del comentario</th>
    <th>Autor del comentario</th>
</tr>
{% for comentario in comentarios %}
    <tr>
        <td>{{ articulos.id }}</td>
        <td>{{ articulos.title }}</td>
        <td>{{ comentario.id }}</td>
        <td>{{ comentario.author }}</td>
    </tr>
{% endfor %}

</table>
