<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Proyecto Alivinatu</title>
        {#<link rel="icon" sizes="16x16" href="{{ asset('favicond.ico') }}" />#}
        <link rel="stylesheet" href="{{ asset('bundles/recursosAlivinatu/css/plantilla.css') }}" />
    </head>
    <body>
        <header>
            <div id="barMenu">
                <h1>plantilla</h1>
                {%block content%}
                {%endblock%}
            </div>
        </header>
            
    </body>
</html>

