<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenid@{% endblock %} | Alivinatu</title>
        {% block stylesheets %}{% endblock %}
        {% block jquery %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('alivinatu.ico') }}" />
    </head>
    <body>
        {% block body %}
            <header>
                {% block headerLogo %} {% endblock %}
                    <nav>
                        {% block nav %} 
                            {% block login %} {% endblock %}
                        {% endblock %}
                    </nav>    
                {% block headerBusqueda %} 
                    {% block headerLogin %} {% endblock %}
                {% endblock %}
            </header>
            
            {% block contPrincipal %}
                {% block imagenPrincipal %} {% endblock %}
                {% block contenido%}
                    {% block ofertaTexto %} {% endblock %}
                {% endblock %}
            {% endblock %}
            
            <footer>
                {% block footer%} {% endblock%}
            </footer>
        {% endblock %}
    </body>
</html>
