#cajaContenido{
    background-color: #eff1f2;
    border: 1px solid #d9d9d9;
    width: 948px;
    margin: 100px auto 0px auto;
    text-align: center;
    padding: 10px 0px 0px 0px;
    display: block;
}

#cajaContenido #columnaCU1{
    width: 276px;
    height: 150px;
    border-radius: 2px;
    border: 2px solid #ccc;
    font: 15px normal  verdana, arial;
    background-color: #30a2ce;
    margin: 5px 10px 25px 10px ;
    opacity: 1;
    color: #fff;
    position: relative;
    z-index: 1;
}

#cajaContenido #columnaCU1:before,
#cajaContenido #columnaCU1:after
{
/* Posiciona la sobora por detras del color de la caja*/
                  z-index: -1;
                  position: absolute;
                  /* no aplico ningún contenidos HTML */
                  content: "";
                  /* posiciona la sombra con respecto al borde inferior, izquierdo y superior */
                  bottom: 15px;
                  left: 7px;
                  top: 80%;
                  /* configura el ancho */
                  width: 50%;
/* color de fondo */

                  /* definicion de la sombra estandar para box-shadow */
                  -webkit-box-shadow: 0 17px 12px #666;
                  -moz-box-shadow: 0 17px 12px #666;
                  box-shadow: 0 18px 12px #666;
                  /* rotacion de la sombra */
                  -webkit-transform: rotate(-4deg);
                  -moz-transform: rotate(-4deg);
                  -o-transform: rotate(-4deg);
                  -ms-transform: rotate(-4deg);
                  transform: rotate(-4deg);
}

#cajaContenido #columnaCU1:after
{
                  /* rotacion de la sombra */
                  -webkit-transform: rotate(4deg);
                  -moz-transform: rotate(4deg);
                  -o-transform: rotate(4deg);
                  -ms-transform: rotate(4deg);
                  transform: rotate(4deg);
                  /* posiciona la sombra con respecto al borde izquierdo y derecho */
                  right: 7px;
                  left: auto;
}
/* para el salto de linea  */
.clear{
    clear: both
}

#columnaCU1 a{
    text-decoration: none;
    color: #fff;
}

#tituloCU{
    background-color: #30a2ce;
    padding: 5px 8px 5px 8px;
    position: absolute;
    left: 0px;
    bottom: 20px;
    -webkit-transition: all 450ms ease-out;
    -moz-transition: all 450ms ease-out;
    -o-transition: all 450ms ease-out;
    transition: all 450ms ease-out;
    cursor: pointer;
    opacity: .9;
}

#tituloCU:hover{
    opacity: 1;
    background-color: #94c459;
    border-radius: 0px 5px 5px 0px;
    
    padding: 5px 8px 5px 75px;
    text-shadow: 0px 0px 1px #666;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

/* estilo para los titulos de los casos de uso */

#tituloAdminCU{
    font: 12px normal verdana, arial;
    font-weight: bold;
    text-align: left;
    margin: 30px 0px 20px 20px;
    color: #333;

}

#inputCUBuscar{
    font: 13px normal verdana, arial;
    height: 18px;
    padding: 2px 5px 2px 5px;
    color: #777;
    font-style: italic;
    width: 250px;
    margin: 0px 10px 0px 5px;
}

#botonCUBuscar,
#botonCU{
    font: normal 13px "verdana", arial;
    background-color: #696c6d;
    box-shadow: 0px 0px 8px  #fff;
    border: none;
    color: #fff;
    padding: 6px 14px 6px 14px; 
    margin: 0px 5px 0px 0px;
    cursor: pointer;
    text-decoration: none;
}

a{
    text-decoration: none;
}

#botonCUBuscar:hover,
#botonCU:hover{
    background-color: #94c459;
    text-shadow: 0px 0px 1px #666;
}


/* estilo de las tablas */

#cajaScroll{
    overflow: auto;
    height: 300px;
    margin-top: 35px;
}


#cajaContenido table {
  clear: both;
  margin: 0em auto 2em auto;
  width: 97%;
  font: 12px normal verdana, arial;
}

#cajaContenido tbody{
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#cajaContenido thead th {
  background: #555;
  border-right: 1px solid #CCC !important;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
}

#cajaContenido tr, #cajaContenido th, #cajaContenido td {
  border-bottom: 1px solid #CCC;
  padding: .6em .25em;
  background: #f9f9f9;
  text-align: left;
}

#cajaContenido tr:nth-child(2n+1) td {
  background: #e5e8e9;
}

#cajaContenido table a {
  text-decoration: none;
}
#cajaContenido table a + a {
  margin-left: 1em;
}
#cajaContenido table a[href*="editarCliente"],
#cajaContenido table a[href*="editarSala"],
#cajaContenido table a[href*="editarServicio"]{
  text-decoration: none;
  margin-right: 1em;
  color: #1148a6;
}

#cajaContenido table a[href*="cliente"],
#cajaContenido table a[href*="sala"],
#cajaContenido table a[href*="servicio"]{
    text-decoration: none;
  margin-right: 1em;
  color: #c61b23;
}
#cajaContenido table a[href*="editarCliente"]:hover,
#cajaContenido table a[href*="cliente"]:hover,
#cajaContenido table a[href*="editarSala"]:hover,
#cajaContenido table a[href*="sala"]:hover,
#cajaContenido table a[href*="editarServicio"]:hover,
#cajaContenido table a[href*="servicio"]:hover{
  text-decoration: underline;
}

#cajaContenido tr:hover td {
  background: #fefea5;
  color: #000;
  text-decoration: none;
}
#cajaContenido tr:hover a {
  text-decoration: none;
}

/* estilo del formulario de busqueda */
#formAdminClienteBuscar{
    margin-top: 30px;
    
}
